@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --color-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);

  --color-paragraph: hsla(0, 0%, 100%, 0.75);
  --color-bg-hd-button: hsl(0, 0%, 95%);
}

/* Big Shoulders Display */
body {
  margin: 0;
  font-family: "Lexend Deca";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140vh;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
}

.card .car-1 {
  background: var(--color-orange);
  grid-column: span 3;
  width: 400px;
  height: 450px;
  border-radius: 10px 10px 0 0;
}

.card .car-1 button {
  border: none;
  padding: 20px 50px;
  border-radius: 30px;
  color: var(--color-orange);
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.content {
  padding: 40px;
}

.content .heading {
  font-family: "Big Shoulders Display";
  font-size: 25px;
  color: var(--color-bg-hd-button);
  text-transform: uppercase;
  font-weight: 700;
}
.content .paragraph {
  font-size: 15px;
  padding-right: 40px;
  line-height: 25px;
  margin-bottom: 30px;
  color: var(--color-paragraph);
  font-weight: 400;
}

.card .car-2 {
  background: var(--color-dark-cyan);
  grid-column: span 3;
  width: 400px;
  height: 450px;
}

.card .car-2 button {
  border: none;
  padding: 20px 50px;
  border-radius: 30px;
  color: var(--color-dark-cyan);
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.card .car-3 {
  background: var(--color-very-dark-cyan);
  grid-column: span 3;
  width: 400px;
  height: 450px;
  border-radius: 0 0 10px 10px;
}

.card .car-3 button {
  border: none;
  padding: 20px 50px;
  border-radius: 30px;
  color: var(--color-very-dark-cyan);
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .container {
    height: 100vh;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card .car-1 {
    grid-column: 1 / span 1;
    border-radius: 10px 0 0 10px;
    height: 650px;
    letter-spacing: 0.5px;
  }

  .car-1 > * {
    margin-top: 20px;
  }

  .car-1 .paragraph {
    line-height: 35px;
  }
  .card .car-2 {
    grid-column: 2 / span 1;
    height: 650px;
    letter-spacing: 0.5px;
  }

  .car-2 > * {
    margin-top: 20px;
  }

  .car-2 .paragraph {
    line-height: 35px;
  }

  .card .car-3 {
    grid-column: 3 / span 1;
    border-radius: 0 10px 10px 0;
    height: 650px;
    letter-spacing: 0.5px;
  }

  .car-3 > * {
    margin-top: 20px;
  }

  .car-3 .paragraph {
    line-height: 35px;
  }

  button {
    margin-top: 100px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
